/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	background-color: #040404;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #363342;
	border-radius: 10px;
	width: 50%; /* Could be more or less, depending on screen size */
}
/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
	height: 40px;

	padding: 10px 12px;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: white;

	width: 50%;
	margin: 10px auto;

	box-shadow: 0 1px 3px 0 #e6ebf1;
	-webkit-transition: box-shadow 150ms ease;
	transition: box-shadow 150ms ease;
}

.StripeElement--focus {
	box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
	border-color: #fa755a;
}

.StripeElement--webkit-autofill {
	background-color: #fefde5 !important;
}

.submit {
	background-color: #363342;
	color: #cfd7df;

	height: 40px;

	border: 1px solid transparent;
	border-radius: 4px;

	width: 50%;
	margin: 10px auto;
}

.amountElement {
	background-color: white;

	height: 40px;
	width: 50px;
	border: 1px solid transparent;
	border-radius: 4px;

	margin: 10px auto;
}
