html {
  width: 225px;
  /*font-family: 'Roboto';*/
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h1, h2 {
  margin: 2px;
}

a {
  color: grey;
}

.toggle-btn {
  font-size: 14px;
  padding: 8px;
  width: 175px;
  color: white;
  border-radius: 8px;
  box-shadow: 1px 2px 2px black;
}

#enable-btn {
  background-color: red;
}

#disable-btn {
  background-color: green;
}

img {
  width: 16px;
  height: 16px;
}

h3 {
  font-size: 16px;
}