html {
  width: 250px;
  font-family: 'Roboto';
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h1, h2 {
  margin: 2px;
}

a {
  color: grey;
}

.toggle-btn {
  font-size: 18px;
  padding: 10px;
  width: 235px;
  color: white;
}

#enable-btn {
  background-color: green;
}

#disable-btn {
  background-color: red;
}
